{% extends 'base.html' %}

{% block title %} Add Item {% endblock %}

{% block content %}
<form method="post">
    <h2 class="loop-text">Add Item</h2>
    <p>
        <label for="name">Title<br>
            <input type="text" name = "name" id ="name">
        </label>
    </p>
    <p>
        <label for="description">Description<br>
            <textarea name="description" id="description" cols="30" rows="3"></textarea>
        </label>
    </p>
    <p>
        <label for="category">Category<br>
            <select name="category" id="category">
            {% for category in categories %}
            <option value="{{category.id}}">{{category.name}}</option>
            {% endfor %}
            </select>
        </label>
    </p>
        <input type="submit" value="Add">
    </form>
{% endblock %}
